* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Architects Daughter', cursive;
  background-color: #fff;
  overflow: hidden;
  animation: backgroundBreathe 11s linear forwards infinite;
}
#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#text {
  font-size: 32px;
  margin-bottom: 80px;
  text-transform: lowercase;
}
.bar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.bar {
  width: 100%;
  height: 20px;
  /* background: linear-gradient(
    to right,
    #d5cbff 0%,
     #d5cbff 40%,
     #e0f2ff 40%, 
     #e0f2ff 60%, 
     #d5cbff 60%, 
     #d5cbff 100%
  ); */
  background: linear-gradient(
    to right,
    #d5cbff 0%,
     #d5cbff 27.27%,
     #e0f2ff 27.27%, 
     #e0f2ff 63.63%, 
     #d5cbff 63.63%, 
     #d5cbff 100%
  );
}
.ball {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #555;
  margin-top: 10px;
  animation: aToB 11s linear forwards infinite;
}
.cat {
  display: flex;
}
.cat img {
  margin-bottom: -114px;
  position: relative;
  z-index: 100;
  pointer-events: none;
  max-width: 290px;
}
.placeholder {
  width:200px;
  height: 200px;
  background: #eee;
}
@keyframes backgroundBreathe {
  0% {
    background-color: #ACB6E5;
}
40% {
    background-color: #a0c1e2;
}
60% {
    background-color: #88d8db;
}
80% {
    background-color: #a0c1e2;
}
100% {
    background-color: #ACB6E5;
}
}

@keyframes aToB {
  from {
    transform: translateX(0vw);
  } 
  to {
    transform: translateX(99vw);
  }
}